body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a{
  text-decoration: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.centerman{
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.main-navigation{
  position: relative;
}

.main-navigation .logo{
  position: absolute;
  top:0;
  left: 530px;
}

.site-navigation{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.site-navigation .info{
  margin-left: 70px;
}

.site-navigation .photo-and-video{
  margin-left: 150px;
}

.site-navigation .state-map{
  margin-left: 390px;
}

.site-navigation .hotel{
  margin-left: 165px;
}

.site-navigation a{
  color: #000000;
  font-weight: 700;
  display: inherit;
  padding: 17px 0;

}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}

.site-navigation a:active{
  color:#cacaca;
}

.background-image{
  background-color: #dbe9f2;
  background-image: url("../img/polygon.svg"),
                    url("../img/background.jpg");
  background-position: 0 453px, center center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*advantages*/
.advantages{
  background-color: #ffffff;
}

.advantages h2{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  display: block;
  width: 440px;
  margin:0 auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

.advantages .reasons{
  line-height: 26px;
  text-align: center;
  padding-bottom: 40px;
}

/*advantages-list*/
.advantages-list{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list .blue{
  background-repeat: no-repeat;
  width: 800px;
  height: 256px;
  background-color:#81b3d2;
}

.advantages-list .blue1{
  background-image: url("../img/benefits-1.jpg");
  padding-right: 800px;
  background-position: 100%;
}
.advantages-list .blue2{
  background-image: url("../img/benefits-2.jpg");
  padding-left: 800px;
  background-position: 0%;
}

.advantages-list .gray{
  width: 400px;
  height: 245px;
  background-color: #eeeeee;
}

.advantages-list h2{
  display: block;
  width: 155px;
  margin:-15px auto;
  margin-bottom: 5px;
}

.advantages-item .description{
  display: block;
  margin: 0 auto;
  width: 300px;
}

.blue2 .description{
  display: block;
  margin: 0 auto;
  width: 320px;
}

.advantages-item{
  text-align: center;
  margin-top: 0;
  padding: 0;

}

.advantages-list .white{
  width: 400px;
}

.advantages-list .house{
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.advantages-list .burger{
  background-image: url("../img/foods.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.advantages-list .souvenir{
  background-image: url("../img/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.blue h2,
.blue2 h2{
  color: #ffffff;
}

.blue p,
.blue2 p{
  color: #ffffff;
}

.gray{

}

/*search*/
.search{
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 30px;
}

.search h2{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}

.search p{
  display: block;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 84px;
  }

.search .button{
  color:#ffffff;
  font-size: 21px;
  background-color: #766357;
  text-align: center;
  padding: 30px 139px 30px 139px;
  font-weight: 700;
}

.search a:hover,
.search a:focus{
  background-color: #604e43;
}

.search a:active{
  background-color: #503e33;
  color:#928a85;
}

/*maps*/
.maps{
  margin: 0;
  padding: 0;
}

.maps img{
  vertical-align: bottom;
}

/*footer*/
.main-foter{
  display: flex;
  background-color: #fafcf7;
  margin-left: 0;
  height: 120px;
  align-items: center;
}

.main-foter .hashtag{
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 130px;
}

.footer-social ul{
  list-style: none;
  display: flex;
  margin-left: 220px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
}

.footer-social .social-buttom{
  background-color: #81b3d2;
  color:#ffffff;
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social .social-buttom:hover,
.footer-social .social-buttom:focus{
  background-color: #669ec0;
}

.footer-social .social-buttom:active{
  background-color: #5496bd;
  color:#88b6d1;
}

.footer-copyright{
  margin-left: 225px;
  display: flex;
  align-items: center;
}

.footer-copyright a{
  display: block;
  margin-left: 10px;
}

/*modal-window*/
.modal-search{
  position: absolute;
  background-color: #ffffff;
  width: 570px;
  left: 665px;
}

.modal-form{
  display: flex;
  flex-wrap: wrap;
  padding-left: 55px;
  padding-top: 55px;
}

.modal-item{
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
  width: 500px;
  margin: 0;
  margin-bottom: 30px;
}

.modal-item input{
  box-sizing: border-box;
  width: 350px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
}

.modal-item label{
  display: block;
  padding-right: 40px;
}

.modal-item-1{
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
  width: 200px;
  margin-right: 50px;
}

.modal-item-1 input{
  box-sizing: border-box;
  width: 115px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
}

.modal-form .submit{
  display: block;
  width: 460px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.modal-search .text{
  background-color: #f2f2f2;
}

.modal-search .text:hover,
.modal-search .text:focus{
  background-color: #ebebeb;
}

.modal-search .submit{
  background-color: #81b3d2;
  color: #ffffff;
}

.modal-search .submit:hover,
.modal-search .submit:focus{
  background-color: #669ec0;
}

.modal-search .submit:active{
  background-color: #5496bd;
  color:#94b9d2;
}


/*catalog.html*/
/*sort*/
.sort{
  display: flex;
  align-items: center;
  background-color: #fafcf7;
}

.sort .active{
  color: #81b3d2;
  text-decoration: none;
  border:none;
}

.sort a{
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sort .up-down{
  border-bottom: none;
}

.sort a:hover,
.sort a:focus{
  color: #81b3d2;
}

.sort .up-down:hover polyline,
.sort .up-down:focus polyline{
  fill: #231f20;
}

.sort .up-down:active polyline{
  fill: #81b3d2;
}

.sort a:active{
  color: #000000;
  border: none;
}

/*catalog*/
.catalog-list{
  list-style: none;
  background-color: #fafcf7;
}

.catalog-item{
  border-top: 1px solid #f2f2f2;
  display: flex;
}

.catalog-item h3{
  color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus{
  color: #81b3d2;
}

.catalog-item h3:active{
  color: #cacaca;
}

.catalog-list .read-more{
  color:#ffffff;
  background-color: #81b3d2;
}

.catalog-list .read-more:hover,
.catalog-list .read-more:focus{
  background-color: #669ec0;
}

.catalog-list .read-more:active{
  background-color: #5496bd;
  color: #94b9d2;
}

.catalog-list .reservation{
  background-color: #766357;
  color: #ffffff;
}

.catalog-list .reservation:hover,
.catalog-list .reservation:focus{
  background-color: #604e43;
}

.catalog-list .reservation:active{
  background-color: #503e33;
  color:#928a85;
}



