body{
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a{
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.centerman{
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.main-navigation{
  position: relative;
}

.main-navigation .logo{
  position: absolute;
  top:0;
  left: 530px;
}

.site-navigation{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-left: 73px;
  padding-right: 73px;
}

.site-navigation li{
  width: 20%;
}

.site-navigation .photo-and-video{
  padding-left: 30px;
}

.site-navigation .state-map{
  padding-right: 30px;
}

.site-navigation .state-map-li{
  text-align: right;
  margin-left: 20%;
}

.site-navigation .hotel-li{
  text-align: right;
}

.site-navigation .hotel-active{
  color: #766357;
}

.site-navigation .hotel-active:hover,
.site-navigation .hotel-active:focus{
  color: #766357;
}

.site-navigation .hotel-active:active{
  color: #766357;
}

.site-navigation a{
  color: #000000;
  font-weight: 700;
  display: inherit;
  padding: 17px 0;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}

.site-navigation a:active{
  color:#cacaca;
}

.background-image{
  background-color: #dbe9f2;
  background-image: url("../img/polygon.svg"),
                    url("../img/background.jpg");
  background-position: 0 453px, center center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*advantages*/
.advantages{
  background-color: #ffffff;
}

.advantages h2{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  display: block;
  width: 440px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

.advantages .reasons{
  line-height: 26px;
  text-align: center;
  padding-bottom: 40px;
}

/*advantages-list*/
.advantages-list{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.advantages-list .blue{
  background-repeat: no-repeat;
  width: 800px;
  background-color:#81b3d2;
  padding-bottom: 58px;
}

.advantages-list .blue1{
  background-image: url("../img/benefits-1.jpg");
  padding-right: 800px;
  background-position: 100%;
}
.advantages-list .blue2{
  background-image: url("../img/benefits-2.jpg");
  padding-left: 800px;
  background-position: 0%;
}

.advantages-list .gray{
  width: 400px;
  background-color: #eeeeee;
  padding-bottom: 60px;
}

.advantages-list h2{
  display: block;
  width: 155px;
  margin:-15px auto;
  margin-bottom: 5px;
}

.advantages-item .description{
  display: block;
  margin: 0 auto;
  width: 300px;
}

.blue2 .description{
  display: block;
  margin: 0 auto;
  width: 320px;
}

.advantages-item{
  text-align: center;
  margin-top: 0;
  padding: 0;
}

.advantages-list .white{
  width: 400px;
}

.advantages-list .house{
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.advantages-list .burger{
  background-image: url("../img/foods.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.advantages-list .souvenir{
  background-image: url("../img/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.blue h2,
.blue2 h2{
  color: #ffffff;
}

.blue p,
.blue2 p{
  color: #ffffff;
}

/*search*/
.search{
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 28px;
}

.search h2{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}

.search p{
  display: block;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 86px;
  }

.search .button{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 21px;
  background-color: #766357;
  text-align: center;
  padding: 32px 139px 28px 139px;
  font-weight: 700;
}

.search .button:hover,
.search .button:focus{
  background-color: #604e43;
  cursor: pointer;
}

.search .button:active{
  background-color: #503e33;
  color:#928a85;
}

/*maps*/
.maps{
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  background-image: url("../img/maps.jpg");
  background-repeat: no-repeat;
  position: center center;
  width: 1200px;
  min-height: 593px;
}

.maps img{
  vertical-align: bottom;
}


/*footer*/
.main-foter{
  display: flex;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.9);
  margin-left: 0;
  min-height: 120px;
  align-items: center;
  margin-top: -126px;
  z-index: 1;
  position: relative;
}

.main-foter1{
  display: flex;
  justify-content: space-around;
  background-color: #fafcf7;
  margin-left: 0;
  min-height: 120px;
  align-items: center;
  padding-left: 30px;
 }

.main-foter1 .hashtag{
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-foter .hashtag{
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 30px;
}

.footer-social{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding-left: 54px;
}

.footer-social li{
  margin-bottom: 5px;
}

.footer-social .social-buttom{
  background-color: #81b3d2;
  color:#ffffff;
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social .social-buttom:hover,
.footer-social .social-buttom:focus{
  background-color: #669ec0;
}

.footer-social .social-buttom:active{
  background-color: #5496bd;
  color:#88b6d1;
}

.social-buttom:active path{
  fill: #88b6d1;
}

.footer-copyright{
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.footer-copyright a{
  display: block;
  margin-left: 10px;
}

.html-Academy-logo:hover path,
.html-Academy-logo:focus path,
.html-Academy-logo:focus rect,
.html-Academy-logo:hover rect{
  fill: #81b3d2;
}

.html-Academy-logo:active path,
.html-Academy-logo:active rect{
  fill: #bdbbbc;
}

/*modal-window*/
.modal-search{
  position: absolute;
  background-color: #ffffff;
  width: 458px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 55px;
  transition: .5s;
}

.modal-show{
  transform: translate(-50%, 0);
  z-index: 111;
}

@keyframes shake{
  0%, 100%                  { transform: translateX(-50%); }
  10%, 30%, 50%, 70%, 90%   { transform: translateX(-55%); }
  20%, 40%, 60%, 80%        {transform: translateX(-45%); }
}

.modal-error{
  animation-name: shake;
  animation-duration: 0.8s;
}

.modal-form label{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  margin-right: 20px;
}

.modal-form input{
  width: 323px;
  padding: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  border: 0;
  text-transform: uppercase;
}

.modal-form .adults-in{
  width: 18px;
  text-align: center;
  margin: 0 -4px 0 -4px;
}

.modal-form .sbt-adults{
  width: 39px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-form .sbt-adults:hover{
  color: #000000;
}

.modal-form .sbt-adults:active{
  color: #81b3d2;
}

.modal-form .group{
  margin-bottom: 27px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.modal-form input::-webkit-input-placeholder{
  color: #000000;
  font-size: 14px;
}

.modal-form input::-moz-placeholder{
  color: #000000;
  font-size: 14px;
}

.modal-form input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.modal-form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.modal-form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.modal-form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.modal-form input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.modal-form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.modal-form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.modal-form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.modal-form .modal-item-1{
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  margin-right: 36px;
}

.modal-form .modal-item-2{
  margin-left: 48px;
  margin-right: 21px;
}

.modal-form .submit{
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-top: 56px;
  border: 0;
  font-size: 21px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  cursor: pointer;
}

.modal-search .text{
  background-color: #f2f2f2;
}

.modal-search .text:hover{
  background-color: #ebebeb;
}

.modal-search .text:focus{
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  padding: 8px;
  outline: none;
}

.modal-form .calendar{
  width: 35px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #a9a9a9;
  background-color: transparent;
  position: absolute;
  left: 422px;
  top: 2px;
  cursor: pointer;
}

.modal-search .submit:hover,
.modal-search .submit:focus{
  background-color: #669ec0;
}

.modal-search .submit:active{
  background-color: #5496bd;
  color:#94b9d2;
}

.modal-form .calendar:hover{
  background-image: url("../img/calendarblack.svg");
  background-color: transparent;
  outline:none;

}

.modal-form .calendar:active{
  background-image: url("../img/calendarblue.svg");
  background-color: transparent;
  outline:none;
}

.modal-form .calendar:focus{
  background-color: transparent;
}

/*catalog.html*/
/*filter*/
.filter{
  padding-top: 30px;
  padding-left: 73px;
  background-color: #507b9d;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter form{
  display: flex;
  justify-content: space-around;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter legend{
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.filter li{
  margin-bottom: 23px;
}

.infrastructure{
  border: 0;
  margin: 0;
  padding-left: 0;
}

.infrastructure-item{
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 16px;
}

.infrastructure-item label,
.house-type-item label{
  cursor: pointer;
  vertical-align: top;
}

.infrastructure-item label::before,
.house-type-item label::before{
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.infrastructure-item input:checked + label::before,
.house-type-item input:checked + label::before{
  background-image: url("../img/checkbox-on.svg");
}

.infrastructure-item input:checked:disabled + label::before,
.house-type-item input:checked:disabled + label::before{
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.3;
}

.infrastructure-item input:disabled + label::before,
.house-type-item input:disabled + label::before{
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.3;
}

.infrastructure-item input:focus + label::before,
.house-type-item input:focus + label::before{
  outline: 2px solid #81b3d2;
}

.house-type{
  margin-left: 95px;
  border: 0;
  width: 288px;
  flex-grow: 1;
}

.house-type-item{
  list-style: none;
  padding-left: 1px;
  margin: 0;
  margin-top: 17px;
}

.price-submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  position: relative;
}

.price{
  border: 0;
  width: 315px;
}

.price .min-price,
.price .max-price{
  width: 30px;
  color: inherit;
  font: inherit;
  border: 0;
  background: 0 0;
}

.price .border{
  border: 2px solid #fff;
  border-radius: 2px;
  width: 314px;
  margin-bottom: 20px;
  margin-top: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.border label:nth-child(1){
  padding-right: 38px;
  margin-left: 65px;
  border-right: 2px solid #ffffff;
}

.border label:nth-child(2){
  margin-left: 54px;
}

.price .slider{
  border-bottom: 2px solid #fff;
  margin-bottom: 14px;
  width: 80%;
  display: inline-block;
  vertical-align: baseline;
}

.price .slider-in{
  width: 59px;
  border-bottom: 2px solid #fff;
  opacity: 0.3;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 14px;
}

.price-submit .slider-bar{
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 3px 0px 0px #6a6a6a;
}

.price-submit .slider-bar:hover,
.price-submit .slider-bar:focus{
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 3px 0px 0px #6a6a6a;
  transform: translate(-2px, -2px);
}

.price-submit .slider-bar-min{
  top: 77px;
}

.price-submit .slider-bar-max{
  top: 77px;
  right: 55px;
}

.price-submit .slider-bar-max:hover,
.price-submit .slider-bar-max:focus{
  transform: translate(2px, -2px);
}

.price-submit .submit-filter{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  display: block;
  padding: 6px 33px;
  background: 0 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 2px;
  margin-right: 9px;
  text-transform: uppercase;
}

.price-submit .submit-filter:hover{
  background-color:#fff;
  color: #000;
}

/*sort*/
.sort{
  display: flex;
  align-items: center;
  background-color: #fafcf7;
  min-height: 83px;
  padding-right: 67px;
}

.sort .sort-filter{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  line-height: 18px;
  flex-grow: 1;
  padding-top: 4px;
}

.sort .sort-filter::after{
  content: "";
  flex-grow: 1;
}

.sort .up{
  display: flex;
  width:42px;
  justify-content: space-around;
}

.sort h2{
  width: 150px;
  margin-left: 72px;
  margin-right: 15px;
  font-size: 21px;
}

.sort .active{
  color: #81b3d2;
  text-decoration: none;
  border:none;
}

.sort a{
  margin-left: 36px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort .up-down{
  border-bottom: none;
  margin: 0;
}

.sort a:hover,
.sort a:focus{
  color: #81b3d2;
}

.up-down:hover polyline,
.up-down:focus polyline{
  fill: #231f20;
}

.up-down:active polyline{
  fill: #81b3d2;
}

.sort a:active{
  color: #000000;
  border: none;
}

/*catalog*/
.catalog-list{
  list-style: none;
  background-color: #fafcf7;
  margin: 0;
  padding-left: 0;
}

.catalog-item{
  border-top: 1px solid #f2f2f2;
  display: flex;
  padding: 30px 73px;
  padding-bottom: 25px;
}

.catalog-item:nth-child(3){
  border-bottom: 1px solid #f2f2f2;
}

.catalog-list .catalog-info{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 30px;
  align-items: flex-start;
}

.hotel-item{
  margin-right: 5px;
}

.hotel-item b{
  display: block;
  padding-bottom: 20px;
  font-weight: 400;
}

.booking b{
  display: block;
  padding-bottom: 20px;
  font-weight: 400;
}

.booking{
  width: 150px;
}

.catalog-info a{
  width: 100%;
}

.catalog-info h3{
  margin: 0;
  font-size: 21px;
}

.catalog-info .read-more{
  padding: 5px 16px;
  margin-top: 10px;
}

.catalog-info .reservation{
  padding: 5px 18px;
}

.catalog-info1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-info1 b{
  padding: 3px 12px;
  padding-left: 15px;
  background-color: #f2f2f2;
  color: #666666;
  font-weight: 400;
  margin-bottom: 4px;
}

.catalog-item .stars{
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 30px;
  height: 17px;
}

.catalog-item .stars-2{
  width: 88px;
}

.catalog-item .stars-3{
  width: 60px;
}

.catalog-item .stars-4{
  width: 40px;
}

.catalog-item h3{
  color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus{
  color: #81b3d2;
}

.catalog-item h3:active{
  color: #cacaca;
}

.catalog-list .read-more{
  color:#ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}

.catalog-list .read-more:hover,
.catalog-list .read-more:focus{
  background-color: #669ec0;
}

.catalog-list .read-more:active{
  background-color: #5496bd;
  color: #94b9d2;
}

.catalog-list .reservation{
  background-color: #766357;
  color: #ffffff;
  font-weight: 700;
}

.catalog-list .reservation:hover,
.catalog-list .reservation:focus{
  background-color: #604e43;
}

.catalog-list .reservation:active{
  background-color: #503e33;
  color:#928a85;
}



