body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a{
  text-decoration: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.centerman{
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.main-navigation{
  position: relative;
}

.main-navigation .logo{
  position: absolute;
  top:0;
  left: 530px;
}

.site-navigation{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-left: 73px;
  padding-right: 73px;
}

.site-navigation li{
  width: 20%;
}

.site-navigation .info-li{

}

.site-navigation .photo-and-video{
  padding-left: 30px;
}

.site-navigation .state-map{
  padding-right: 30px;
}

.site-navigation .state-map-li{
  text-align: right;
  margin-left: 20%;
}

.site-navigation .hotel-li{
  text-align: right;
}

.site-navigation .hotel-active{
  color: #766357;
}

.site-navigation .hotel-active:hover,
.site-navigation .hotel-active:focus{
  color: #766357;
}

.site-navigation .hotel-active:active{
  color: #766357;
}

.site-navigation a{
  color: #000000;
  font-weight: 700;
  display: inherit;
  padding: 17px 0;

}

.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}

.site-navigation a:active{
  color:#cacaca;
}

.background-image{
  background-color: #dbe9f2;
  background-image: url("../img/polygon.svg"),
                    url("../img/background.jpg");
  background-position: 0 453px, center center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*advantages*/

.advantages{
  background-color: #ffffff;
}

.advantages h2{
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  display: block;
  width: 440px;
  margin:0 auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

.advantages .reasons{
  line-height: 26px;
  text-align: center;
  padding-bottom: 40px;
}

/*advantages-list*/
.advantages-list{
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.advantages-list .blue{
  background-repeat: no-repeat;
  width: 800px;
  background-color:#81b3d2;
  padding-bottom: 58px;
}

.advantages-list .blue1{
  background-image: url("../img/benefits-1.jpg");
  padding-right: 800px;
  background-position: 100%;
}
.advantages-list .blue2{
  background-image: url("../img/benefits-2.jpg");
  padding-left: 800px;
  background-position: 0%;
}

.advantages-list .gray{
  width: 400px;
  background-color: #eeeeee;
  padding-bottom: 60px;
}

.advantages-list h2{
  display: block;
  width: 155px;
  margin:-15px auto;
  margin-bottom: 5px;
}

.advantages-item .description{
  display: block;
  margin: 0 auto;
  width: 300px;
}

.blue2 .description{
  display: block;
  margin: 0 auto;
  width: 320px;
}

.advantages-item{
  text-align: center;
  margin-top: 0;
  padding: 0;
}

.advantages-list .white{
  width: 400px;
}

.advantages-list .house{
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.advantages-list .burger{
  background-image: url("../img/foods.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.advantages-list .souvenir{
  background-image: url("../img/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
  padding-top: 115px;
  padding-bottom: 85px;
}

.blue h2,
.blue2 h2{
  color: #ffffff;
}

.blue p,
.blue2 p{
  color: #ffffff;
}


/*search*/
.search{
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 30px;
}

.search h2{
  margin: 0;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
}

.search p{
  display: block;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 84px;
  }

.search .button{
  color:#ffffff;
  font-size: 21px;
  background-color: #766357;
  text-align: center;
  padding: 30px 139px 30px 139px;
  font-weight: 700;
}

.search a:hover,
.search a:focus{
  background-color: #604e43;
}

.search a:active{
  background-color: #503e33;
  color:#928a85;
}

/*maps*/
.maps{
  position: relative;
  margin: 0;
  padding: 0;
}

.maps img{
  vertical-align: bottom;
}

/*footer*/
.main-foter{
  display: flex;
  background-color: rgba(255,255,255,0.9);
  margin-left: 0;
  height: 120px;
  align-items: center;
  margin-top: -120px;
  z-index: 1;
  position: relative;
}

.main-foter1{
  display: flex;
  background-color: #fafcf7;
  margin-left: 0;
  height: 120px;
  align-items: center;
 }

.main-foter1 .hashtag{
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 130px;
}

.main-foter .hashtag{
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 130px;
}

.footer-social ul{
  list-style: none;
  display: flex;
  margin-left: 220px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
}

.footer-social .social-buttom{
  background-color: #81b3d2;
  color:#ffffff;
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social .social-buttom:hover,
.footer-social .social-buttom:focus{
  background-color: #669ec0;
}

.footer-social .social-buttom:active{
  background-color: #5496bd;
  color:#88b6d1;
}

.footer-copyright{
  margin-left: 225px;
  display: flex;
  align-items: center;
}

.footer-copyright a{
  display: block;
  margin-left: 10px;
}

/*modal-window*/
.modal-search{
  position: absolute;
  background-color: #ffffff;
  width: 470px;
  left: 50%;
  transform: translateX(-50%);
  padding: 45px;
  padding-left: 55px;
  flex-wrap: wrap;
}

.modal-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form label{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}

.modal-form input{
  width:320px;
  padding: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  border: 0;
}

.modal-form input::-webkit-input-placeholder{
  color: #000000;
}

.modal-form input::-moz-placeholder{
  color: #000000;
}


.modal-form .modal-item-1{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 242px;
  align-items: center;
}

.modal-item-1 input{
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
}

.modal-item-1 button,
.modal-item-2 button
{
  width: 38px;
  height: 38px;
  border: 0;
  font-size: 21px;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.less-adults{
  margin-right:-58px;
}

.more-adults{
  margin-left: -59px;
}

.less-children{
  margin-right: -29px;
}

.more-children{
  margin-left: -28px;
}

.modal-form .modal-item-2{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 180px;
  align-items: center;
}

.modal-item-2 input{
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
}

.modal-form .submit{
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 20px;
  margin-top: 35px;
  margin-bottom: 10px;
  border: 0;
  font-size: 21px;
  text-transform: uppercase;
  }

.modal-search .text{
  background-color: #f2f2f2;
}

.modal-search .text:hover,
.modal-search .text:focus{
  background-color: #ebebeb;
}

.modal-search .submit{
  background-color: #81b3d2;
  color: #ffffff;
}

.modal-search .submit:hover,
.modal-search .submit:focus{
  background-color: #669ec0;
}

.modal-search .submit:active{
  background-color: #5496bd;
  color:#94b9d2;
}


/*catalog.html*/
/*filter*/
.filter{
  padding-top: 30px;
  padding-left: 73px;
  background-color: #507b9d;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter form{
  display: flex;
  justify-content: space-around;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter form legend{
  font-size: 16px;
  font-weight: 700;
}

.filter form ul li{
  margin-bottom: 25px;
}

.infrastructure{
  border: 0;
  margin: 0;
  padding-left: 0;
}

.infrastructure-item{
  list-style: none;
  padding-left: 0;
}

.house-type{
  margin-left: 90px;
  border: 0;
  width: 288px;
  flex-grow: 1;
}

.house-type-item{
  list-style: none;
  padding-left: 0;
}

.price-submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,0,0,0.2);
  margin-right: 73px;
}

.price{
  border: 0;
  width: 310px;
}

.price .min-price,
.price .max-price{
  width: 50px;
  color: inherit;
  font: inherit;
  border: 0;
  background: 0 0;
}

.price .border{
  border: 2px solid #fff;
  border-radius: 2px;
  width: 320px;
  margin-bottom: 20px;
}

.border label:nth-child(1){
  padding-left: 40px;
}

.price .slider{
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

.price-submit .submit-filter{
  display: block;
  align-self: center;
  padding: 5px 35px;
  font-weight: 400;
  background: 0 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.price-submit .submit-filter:hover{
  background-color:#fff;
  color: #000;
}

/*sort*/
.sort{
  display: flex;
  align-items: center;
  background-color: #fafcf7;
  min-height: 83px;
  padding-right: 73px;
}

.sort .sort-filter{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  line-height: 18px;
  flex-grow: 1;
  margin-right: 490px;
}

.sort .up{
  display: flex;
  width:42px;
  justify-content: space-around;
}

.sort h2{
  width: 150px;
  margin-left: 72px;
  font-size: 21px;
}

.sort .active{
  color: #81b3d2;
  text-decoration: none;
  border:none;
}

.sort a{
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort .up-down{
  border-bottom: none;
}

.sort a:hover,
.sort a:focus{
  color: #81b3d2;
}

.sort .up-down:hover polyline,
.sort .up-down:focus polyline{
  fill: #231f20;
}

.sort .up-down:active polyline{
  fill: #81b3d2;
}

.sort a:active{
  color: #000000;
  border: none;
}

/*catalog*/

.catalog-list{
  list-style: none;
  background-color: #fafcf7;
  margin: 0;
  padding-left: 0;
}

.catalog-item{
  border-top: 1px solid #f2f2f2;
  display: flex;
  padding: 30px 73px;
  padding-bottom: 25px;
}

.catalog-item:nth-child(3){
  border-bottom: 1px solid #f2f2f2;
}

.catalog-list .catalog-info{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 30px;
  align-items: flex-start;
}

.hotel-item{
  margin-right: 5px;
}

.hotel-item b{
  display: block;
  padding-bottom: 20px;
  font-weight: 400;
}

.booking b{
  display: block;
  padding-bottom: 20px;
  font-weight: 400;
}

.booking{
  width: 150px;
}

.catalog-info a{
  width: 100%;
}

.catalog-info h3{
  margin: 0;
  font-size: 21px;
}

.catalog-info .read-more{
  padding: 5px 16px;
  margin-top: 10px;
}

.catalog-info .reservation{
  padding: 5px 18px;
}

.catalog-info1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-info1 b{
  padding: 3px 15px;
  background-color: #f2f2f2;
  color: #666666;
  font-weight: 400;
}

.catalog-item .stars{
  background-image: url("../img/star.svg");
  background-repeat: space;
  width: 30px;
  height: 17px;
}

.catalog-item .stars-2{
  width: 88px;
}

.catalog-item .stars-3{
  width: 60px;
}

.catalog-item .stars-4{
  width: 40px;
}

.catalog-item h3{
  color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus{
  color: #81b3d2;
}

.catalog-item h3:active{
  color: #cacaca;
}

.catalog-list .read-more{
  color:#ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}

.catalog-list .read-more:hover,
.catalog-list .read-more:focus{
  background-color: #669ec0;
}

.catalog-list .read-more:active{
  background-color: #5496bd;
  color: #94b9d2;
}

.catalog-list .reservation{
  background-color: #766357;
  color: #ffffff;
  font-weight: 700;
}

.catalog-list .reservation:hover,
.catalog-list .reservation:focus{
  background-color: #604e43;
}

.catalog-list .reservation:active{
  background-color: #503e33;
  color:#928a85;
}



